*

!*/
*/*/

!.gitignore
!/abook/abookrc
!/config/git
!/config/i3
!/config/sway
!/config/systemd
!/isync/**
!/msmtp/*
!/mutt/**
!/readonly/**
!/spacemacs/**
!/startup/*
!/tmux/**
!/vim/**
!/zsh/**
!README.md
!install
/zsh/history
/vim/autoload/*
/vim/backup/*
/vim/plugged/*

!**/i3/*
!**/sway/*
!**/git/*
!**/systemd/**

/mutt/alias
/mutt/temp/*
