# use GPGME
set crypt_use_gpgme          = yes
set crypt_autosign           = yes
set pgp_sign_as              = 36BEBC5B
set pgp_timeout              = 3600
set pgp_good_sign            ="^gpgv?: Good signature from "

# sign replies to signed email
set crypt_replysign          = yes

# encrypt replies to encrypted email
set crypt_replyencrypt       = yes

# encrypt and sign replies to encrypted and signed email
set crypt_replysignencrypted = yes

# attempt to verify email signatures automatically
set crypt_verify_sig         = yes

# fetch keys
# set pgp_getkeys_command="pkspxycwrap %r"
