set nm_unread_tag = unread

set hidden_tags = "draft,deleted"

bind index,pager ? noop

bind index,pager ?? sidebar-toggle-virtual
bind index,pager \` modify-labels
bind index,pager + entire-thread

macro index \\ "<vfolder-from-query>"                                            # looks up a hand made query
macro index A "<modify-labels-then-hide>+archive -unread -inbox\n<sync-mailbox>" # tag as Archived
macro index I "<modify-labels-then-hide>-inbox -unread\n<sync-mailbox>"          # removed from inbox
macro index S "<modify-labels-then-hide>-inbox -unread +trash\n<sync-mailbox>"   # tag as Junk mail
macro index d "<modify-labels-then-hide>+deleted -inbox\n<sync-mailbox>"         # tag as mail to be deleted
macro index E "<modify-labels>!expenses\n"                                       # tag as expenses
macro index * "<modify-labels>!flagged\n"                                        # tag as flagged
macro index c "<change-vfolder>?"                                                # change to vfolder overview"
macro index tt "<modify-labels>!todo\n"                                          # tag as todo


# Replace some tags with icons
tag-transforms tag transformed-string { tag transformed-string ...}
tag-transforms  "inbox"    "♠"   \
		"flagged"  "⌘"   \
		"unread"   "✉"   \
		"replied"  "↻ "  \
		"sent"     "➥ "  \
		"todo"     "☑"   \
		"deleted"  "✗"   \
		"expenses" "£"

tag-formats     "inbox"   "GI"   \
		"unread"  "GU"   \
		"replied" "GR"   \
		"sent"    "GS"   \
		"todo"    "GT"   \
		"deleted" "GD"   
